name: Publish the Easy File Pusher tool.

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: windows-latest
    steps:

    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

    - name: Setup .NET
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
      with:
        dotnet-version: 8

    - name: Restore tools
      run: dotnet tool restore

    - name: Create variables for version
      id: nbgv
      shell: bash
      run: echo "SemVer2=$(dotnet nbgv get-version --variable NuGetPackageVersion)" >> $GITHUB_OUTPUT

    - name: Verify variable
      run: echo "SemVer2=${{ steps.nbgv.outputs.SemVer2 }}"

    - name: Build
      working-directory: ./src
      run: dotnet build --configuration Release

    # Publish Github Release
    - name: Create release
      if: ${{ github.event_name == 'push' }}
      working-directory: .
      run: gh release create v${{ steps.nbgv.outputs.SemVer2 }} --generate-notes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}